copy_command "pbcopy"
session_serialization false
show_release_notes false
show_startup_tips false
theme "catppuccin-latte"

keybinds {
    unbind "Ctrl q"
}

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}
