copy_command "pbcopy"
default_layout "compact"
default_mode "locked"
session_serialization false
theme "ao"

keybinds {
    unbind "Ctrl q"
}

ui {
    pane_frames {
        hide_session_name true
    }
}
