# Generic backups
*~

# Exuberant Ctags
tags

# Vim
.sw*
.*.sw*

# C
*.o
*.so
core

# Python
*.pickle
*.parquet
*.h5
*.py[co]
__pycache__
report.html
.coverage
.coverage.*
.hypothesis
.ipynb_checkpoints
.mypy_cache
.pytest_cache
.tox
.venv

# Rust
target/

# Terraform
.terraform
.terraform.lock.hcl

# Vowpal Wabbit
*.vw
