# Generic backups
*~

# Exuberant Ctags
tags

# Vim
.sw*
.*.sw*

# LibreOffice
.~lock.*#

# C
a.out
*.o
*.so
core

# Python
*.pickle
*.parquet
*.h5
*.py[co]
__pycache__/
report.html
htmlcov/
.coverage
.coverage.*
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
.venv/
*.egg-info/
build/
dist/

# Rust
target/

# Terraform
.terraform/
.terraform.lock.hcl

# Vowpal Wabbit
*.vw
