[user]
	name = Gabriel Linder
	email = linder.gabriel@gmail.com
[color]
	ui = true
[push]
	default = current
[alias]
	graph = log --graph --oneline --decorate
[commit]
	signoff = true
	verbose = true
[pager]
	stash = false
