[user]
name = Gabriel Linder
email = linder.gabriel@gmail.com

[color]
ui = true

[push]
default = current

[pager]
stash = false

[alias]
t = tag -n
b = branch --verbose --all
c = commit --verbose --signoff
eax = commit --amend --no-edit
graph = log --graph --oneline --decorate
wdiff = diff --word-diff
fpush = push --force
pfetch = fetch origin --prune
