# Generic backups
*~

# Exuberant Ctags
tags

# Vim
.sw*
.*.sw*

# Visual Studio Code
.vscode/

# Aider
.aider*
.env

# Repomix
repomix-output.md
repomix-output.txt
repomix-output.xml

# LibreOffice
.~lock.*#

# C
a.out
*.o
*.so
core

# Python
*.pickle
*.parquet
*.h5
*.py[co]
__pycache__/
report.html
htmlcov/
.coverage
.coverage.*
.hypothesis/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
.venv/
*.egg-info/
build/
dist/

# Rust
target/

# Scala
.bloop/
.bsp/
.metals/
metals.sbt
*.class
*.tasty

# Terraform
.terraform/
.terraform.lock.hcl

# Vowpal Wabbit
*.vw

# MacOS stuff
.DS_Store
Thumbs.db
