[user]
    name = Gabriel Linder
    email = linder.gabriel@gmail.com

[help]
    autocorrect = -1

[color]
    ui = true

[color "diff"]
    meta = magenta
    frag = yellow
    func = yellow
    old = red
    new = green
    whitespace = reverse bold red

[core]
    pager = cat
    editor = vim
    excludesfile = ~/.gitignore

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"

[merge]
    tool = meld

[mergetool]
    prompt = false

[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[pull]
    rebase = true

[push]
    default = simple
    followTags = true

[commit]
    gpgsign = true

[alias]
    r = remote -v
    t = tag -n
    b = branch --verbose
    c = commit --verbose --signoff
    lea = add --patch
    eax = commit --amend --no-edit
    graph = log --graph --oneline --decorate
    elog = log --show-signature
    wdiff = diff --word-diff
    fpush = push --force
    oops = commit --amend
    forget = reset --hard HEAD~1
    fuck = reset --hard ORIG_HEAD
    pfetch = fetch origin --prune
    ptags = push --tags
    sdiff = stash show -p
    slist = stash list
    spop = stash pop
    mdev = merge develop --ff-only
    tdescribe = describe --tags
